<header id="header" class="mega-menu">
  <div role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <img src="assets/image/logo (1).png" alt="Logo">
      </a>
    </div>
<div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
    <nav>
      <ul class="nav-list">
        <li>
          <a href="#!">Home</a>
        </li>
        <li>
          <a href="#!">About</a>
        </li>
        <li>
          <a href="#!">Services</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Web Design</a>
            </li>
            <li>
              <a href="#!">Web Development</a>
            </li>
            <li>
              <a href="#!">Graphic Design</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Pricing</a>
        </li>
        <li>
          <a href="#!">Portfolio</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">Web Design</a>
            </li>
            <li>
              <a href="#!">Web Development</a>
            </li>
            <li>
              <a href="#!">Graphic Design</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#!">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="contact_field contact_cart">
      <a href="#" class="top_panel_cart_button" data-items="0" data-summa="$0.00">
          <i class="fa fa-cart-plus" id="cart" aria-hidden="true"></i>
          
      </a>
  </div>
  </div>
</header>